# all ignore
/*
/.**

!/.bashrc
!/.bash_profile
!/.bin/
!/.bin/**
!/.config/
!/.config/alacritty/alacritty.yml
!/.config/coc/
!/.config/coc/extensions/
!/.config/coc/extensions/package.json
!/.config/efm-langserver/
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/complex_modifications/
!/.config/karabiner/assets/complex_modifications/**
/.config/karabiner/automatic_backups/**
!/.config/kitty/kitty.conf
!/.config/memo/
!/.config/memo/config.toml
!/.config/memo/template.txt
!/.config/nvim
!/.config/yarn/
!/.config/yarn/global/
!/.config/yarn/global/package.json
!/.config/zeno/
!/.config/zeno/config.yml
!/.gitconfig
!/.gitignore_global
!/.irbrc
!/.p10k.zsh
!/.skhdrc
!/.tigrc
!/.tmux.conf
!/.vimrc
!/.vim/
!/.vim/*/
!/.vim/rc/
!/.vim/rc/**
!/.vim/vimrc
!/.vim/init.vim
!/.zshenv
!/.zshrc
!/.zsh/
!/.zsh/.zshrc
!/.zsh/**
/.zsh/.zcompdump*
/.zsh/.zcompcache/
.zsh_history
.zcompdump

!/.gitignore
!/.github/
!/.github/**
!/bin/
!/bin/**
!/README.md
!/Makefile
