/*
/**

# config
!/.config/
!/.config/**
/.config/karabiner/automatic_backups/
/.config/nvim/plugin/
/.config/tmux/plugins/

# zsh
!/.zshenv
!/.zshrc
!/.p10k.zsh

# vim
!/.vimrc

# Homebrew
!/Brewfile

!/flake.nix
!/flake.lock
!/nix-darwin/
!/nix-darwin/**
!/home-manager/
!/home-manager/**

# other files
!/README.md
!/install.sh
!/.gitconfig
!/.gitignore
