# all ignore
/*
/.**

!/.bashrc
!/.bash_profile
!/.config/
!/.config/alacritty/alacritty.yml
!/.config/coc/extensions/package.json
!/.config/efm-langserver/
!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/complex_modifications/
!/.config/karabiner/assets/complex_modifications/**
/.config/karabiner/automatic_backups/**
!/.config/kitty/kitty.conf
!/.config/memo/
!/.config/memo/**
!/.config/nvim
!/.config/yarn/
!/.config/yarn/global/
!/.config/yarn/global/package.json
!/.gitconfig
!/.gitignore_global
!/.irbrc
!/.skhdrc
!/.tigrc
!/.tmux.conf
!/.zshrc

!/.gitignore
!/bin/
!/bin/**
!/README.md
